/DatasetCreator$Spec.class
/DatasetCreator.class
/InvalidValueInDatasetCreatorException.class
/DatasetCreatorTest.class
/DatasetCreatorTest$Variable.class
/dataCustomer.txt
/dataFlight.txt
/Test.class
/.metadata/
